@import "common/layout.scss";

body {
    background: #f0f0f0;

    .big {
        background: url("../images/big.png");
        width: 300px;
        height: 300px;
    }

    .logo {
        display: flex;
        color: #fff;
        background: url("../images/logo.png");
        width: 100px;
        height: 100px;
    }

    .icon-logo {
        @include sprite($logo);
    }
}
