@import "../../sprites/sprites.scss";

.icon {
    background-size: 200%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 40PX;
    font-family: "PingFang SC", miui, system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

.main-wrap {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 30px;
}
